* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-image: url("../images/fishnets-and-hearts.png");
    margin: 0;
    padding: 0;
}

.clearfix::after { 
    content: '';
    clear: both;
    display: table;


}

/* ---------------- header------------------ */

header {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 40px;

}

.header-container {
    width: 960px;
    margin: 0 auto;
}

.logo {
    background: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    float: left;
    font-family:  'Georgia', Times, 'Times New Roman', serif;
}


/* ------------ nav bar ---------------- */



nav {

    padding: 20px;
    float: right;
    margin-top: 10px;
    
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    color: #777777;
    margin-left: 20px;   
}

li a {
    text-decoration: none;
    color: #777777;
}

li a:hover {
    color: hotpink;
}




/* ------------main section home page-------------- */


.subheading {
    color: #4aaaa5;
}




.bioimage {
    max-width: 30%;
    max-width: 30%;
    float: left;
    margin: 20px;

}

.image-text {
    color: #777777;
    border-top: 2px solid #dddddd;
}

.maintext {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin-top: 20px;
}

.section-container {
    background: #ffffff;
    padding: 20px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border: 1px solid #dddddd;
    overflow: hidden;

}



/* -------- contact page ----------------- */


.contact-form {
    border-top: 2px solid #dddddd;
    padding-top: 20px;
  
}


.name {
}

.email {

}

.messagebox {

}

.submitbutton {
}


#clickme {
    background: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    width: 120px;
}




/* ----------- portfolio gallery --------- */

.card-container {
    margin-bottom: 30px;

}

.image1 {
    width: 300px;
    height: 200px;
    float: left;
}

.image2 {
    width: 300px;
    height: 200px;
}

.image3 {
    width: 300px;
    height: 200px;
}

.image4 {
    width: 300px;
    height: 200px;
}

.image5 {
    width: 300px;
    height: 200px;
}


.label {
    width: 300px;
    height: auto;
    background: #4aaaa5;
    color: #ffffff;
}



/* ----------------footer----------------- */




footer {
    background: #666666;
    color: #ffffff;
    font-size: 10px;
    padding: 20px;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}



body {
    margin: 0;
    padding: 0;
    font-size: 16px;

}
